Developed a <u>Full stack web application</u> using <u>python</u> for backend and <u>Flask</u> as its framework. Added various features like
<ul>
    <li>Login/Sign Up Page for user and Librarian</li>
    <li>Build a subscription model to access specfic Sections</li>
    <li>Apply CRUD functionlity for Users Librarians Books and Sections</li>
    <li>Added feature of auto returning books and add to Favourites for better UX</li>
    <li>Statistics dashboard was developed for admin and users to keep Track of various activities</li>